@model List<Order>
@{

}
<h2 class="text-center mb-5">Список заказов</h2>

<div class="row mb-5">
    <div class="col">
        <a class="btn btn-primary" asp-controller="OrdersContoller" asp-action="Create">Новый продукт</a>
    </div>
    <div class="col">
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>ID Клиента</th>
            <th>ID Продукта</th>
            <th>ID Магазина</th>
            <th>Действия</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.ClientId</td>
                <td>@order.ProductId</td>
                <td>@order.ShopId</td>
                <td style="white-space:nowrap">
                    <a class="btn btn-primary btn-sm" asp-controller="OrdersContoller" asp-action="Edit" asp-route-id="@order.Id">Редактировать</a>
                    <a class="btn btn-danger btn-sm" asp-controller="OrdersContoller" asp-action="Delete" asp-route-id="@order.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>

</table>
